    === Request Fields
        |===
        |Path|Type|Optional|Description

    {{#fields}}
        |{{path}}
        |{{type}}
        |{{#optional}}O{{/optional}}
        |{{description}}
    {{/fields}}

        |===